@page "/todo"

<PageTitle>Todo</PageTitle>

<h1>Todo (@todos.Count(todo => !todo.IsDone))</h1>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
        </li>
    }
</ul>

<div class="container">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Something todo" @bind="newTodo" />

        <div class="input-group-append">
            <button @onclick="AddTodo" class="btn btn-success">Add todo</button>
        </div>
    </div>
</div>



@code {
    private List<TodoItem> todos = new();
    private string? newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}